# 4. 데이터 파일 읽어오기

## 4-1. CSV 파일
* Comma Seperated Value의 약자, 쉼표로 구분된 데이터 파일
* 엑셀보다 CSV 파일이 가볍다.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. URL로부터 파일 읽어오기
d = pd.read_csv('http://bit.ly/ds-korean-idol')
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [3]:
# 2. 로컬에 있는 csv 파일 읽어오기
d2 = pd.read_csv('../data/korean-idol.csv')
d2

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [4]:
# 3. 엑셀 파일 읽어오기
d3 = pd.read_excel('../data/korean-idol.xlsx')
d3

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

In [5]:
# Kaggle API로 데이터 가져오기 (Mac: pip install --user kaggle)
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\solar\workspace\study-bigdata\.venv\lib\site-packages (1.5.12)
Requirement already satisfied: six>=1.10 in c:\users\solar\workspace\study-bigdata\.venv\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in c:\users\solar\workspace\study-bigdata\.venv\lib\site-packages (from kaggle) (2020.12.5)
Requirement already satisfied: python-dateutil in c:\users\solar\workspace\study-bigdata\.venv\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in c:\users\solar\workspace\study-bigdata\.venv\lib\site-packages (from kaggle) (2.25.1)
Requirement already satisfied: tqdm in c:\users\solar\workspace\study-bigdata\.venv\lib\site-packages (from kaggle) (4.60.0)
Requirement already satisfied: python-slugify in c:\users\solar\workspace\study-bigdata\.venv\lib\site-packages (from kaggle) (4.0.1)
Requirement already satisfied: urllib3 in c:\users\solar\workspace\study-bigdata\.venv\lib\site-packages (from kaggle) (1.26.4)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\solar\workspace\study-bigdata\.venv\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\solar\workspace\study-bigdata\.venv\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\solar\workspace\study-bigdata\.venv\lib\site-packages (from requests->kaggle) (4.0.0)

In [7]:
# kaggle version 확인
# kaggle account > create new api token > kaggle.json 파일을 ~/.kaggle/kaggle.json
!kaggle --version

Kaggle API 1.5.12

In [8]:
!kaggle competitions download -c titanic

Downloading titanic.zip to C:\Users\solar\Workspace\study-bigdata\20_Pandas

  0%|          | 0.00/34.1k [00:00<?, ?B/s]
100%|##########| 34.1k/34.1k [00:00<00:00, 8.77MB/s]

In [11]:
!kaggle datasets download -d imdevskp/corona-virus-report

Downloading corona-virus-report.zip to C:\Users\solar\Workspace\study-bigdata\20_Pandas

  0%|          | 0.00/19.0M [00:00<?, ?B/s]
  5%|5         | 1.00M/19.0M [00:00<00:02, 7.55MB/s]
 16%|#5        | 3.00M/19.0M [00:00<00:01, 10.8MB/s]
 26%|##6       | 5.00M/19.0M [00:00<00:01, 11.2MB/s]
 37%|###6      | 7.00M/19.0M [00:00<00:01, 11.3MB/s]
 47%|####7     | 9.00M/19.0M [00:00<00:00, 11.4MB/s]
 58%|#####7    | 11.0M/19.0M [00:01<00:00, 9.42MB/s]
 68%|######8   | 13.0M/19.0M [00:01<00:00, 10.1MB/s]
 79%|#######8  | 15.0M/19.0M [00:01<00:00, 10.4MB/s]
 89%|########9 | 17.0M/19.0M [00:01<00:00, 10.9MB/s]
100%|##########| 19.0M/19.0M [00:01<00:00, 11.1MB/s]
100%|##########| 19.0M/19.0M [00:01<00:00, 10.7MB/s]